.sidebar{
    background-color: #4e73df!important;
}
.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255,255,255,.15);
}
.topbar {
    height: 4.375rem;
}
.topbar .navbar-search input {
    font-size: .85rem;
    height: auto;
}
.btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
    border-radius: 5px!important;
}
.logoImg {
    font-size: 2rem;
    transform: rotate(-15deg);
  }

.icon {
 font-weight: 900;
}
.Accord{
        background-color: #4e73df!important;
        border: none;
        color: #fff;
}
.accordion-item{
    border: #4e73df!important;
    margin-left: -24px;
}
button:hover{
    color: #fff!important;
    text-decoration: none;
}
.accordion-button::after{
   background-image: none;
   color: #fff!important;
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
    color: #fff!important;
}
.accordion-item:last-of-type .accordion-collapse {
    margin-left: 2px;
}
.accordion-button:not(.collapsed) {
    color: #fff;
}